h1 {
    color: gold;
    font-size: 3em;
}
header img {
    height: 7rem;
    width: 7rem;
    margin: 0 1em;
}

header {
    display: flex;
    background-color: rgb(0, 0, 53);
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: gold;
    font-size: 2em;
    margin: .5em;
}

header div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
}

header .navBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header .navBar {
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-end;
    }    
}

#about {
    background-image: url(../assets/photos/chen-dairui-bBEDVL3Jzq8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10%;
}

#about h2 {
    font-size: 2rem;
}

#about p {
    font-size: 1.5rem;
    backdrop-filter: blur(2px);
    background-color: #222222af;
    padding: 5%;
}

#work {
    background-image: url(../assets/photos/nathan-dumlao-cGni_Yknoic-unsplash_edited.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height:800px;
}

#work h2 {
    position: absolute;
}
.card {
    position: relative;
    background-color: #222222;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    z-index: 1;
    transition: ease-in .25s;
}

.card:hover {
    width: 220px;
    height: 220px;
    box-shadow: 10px 10px 10px #222222;
}

.card img {
    position: relative;
    width: 200px;
    height: 200px;
    border-color: wheat;
    border-width: .25em;
    border-style: solid;
    transition: ease-in .25s;
    z-index: 1;
    object-fit: contain;
}

.card:hover img {
    opacity: .3;
    width: 220px;
    height: 220px;
}

.card h3 {
    z-index: 1; 
    opacity: 0;
    transition: opacity .5s;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 2em;
    z-index: 1;
}

.card:hover h3{
    opacity: 1;
}

.card a {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.card input {
}

.card label {
    height: 200px;
    transition: ease-in .25s;
}

.card:hover label {
    height: 220px;
    width: 220px;
}

.card-table {
    position: absolute;
    padding: 2%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 800px;
    z-index: 1;
    width: 25%;
}

.card-display {
    position: absolute;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    z-index: -2;
    opacity: 0;
}

#accessibility:checked #accessibilityDisp {
    opacity: .9;
}

#profile:checked #profileDisp {
    opacity: .9;
}

#theme:checked #themeDisp {
    opacity: .9;
}

.static {
    position: absolute;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    z-index: -3;
}

